.choiceBtn{
    line-height: 30px;
    width: 150px;
    font-family: Luminari, fantasy;
    border-radius: 25px;
    background-color: slategray;
    color: antiquewhite;
    
}

.choiceBtn:hover{
opacity: 10;
}

#playerDiv{
    display: flex;
    justify-content: space-around;
}

#gameDiv{

font-family: Luminari, fantasy;
border: 3px solid;
border-radius: 25px;
padding: 10px;
background-color: wheat;
text-align: center;
}

#scoreDiv{

    font-family: Luminari, fantasy;
    border: 3px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: wheat;
    text-align: center;
    }

#playerText{
color: darkolivegreen;
}

#computerText{
color: firebrick;
}

#playerScore{
    color: darkolivegreen;
}

#computerScore{
    color: firebrick;
    }